.plyr.svelte-1now27s {
  width: 100%;
  height: auto;
}
.image-container.svelte-u41itk {
  position: relative;
  width: 100%;
  max-width: 100%;
}
img.svelte-u41itk {
  width: 100%;
  height: auto;
  display: block;
}
